In [2]:
from parser_orderbook import collect_orderbook

collect_orderbook(
    save_dir="data/",
    mode="klines",
    symbol="LTCUSDT",
    timing="1h",
    start_date="2020-01-09",
)

100%|██████████| 1271/1271 [27:09<00:00,  1.28s/it]

In [5]:
import talib
import pandas as pd
import pandas_ta as ta

In [35]:
df = pd.read_csv("data/LTCUSDT-1h.csv")
df.set_index(pd.DatetimeIndex(df["date"]), inplace=True)
df = df.drop(
    columns=[
        "date",
        "Unnamed: 0",
        "open_time",
        "close_time",
        "quote_volume",
        "count",
        "taker_buy_volume",
        "taker_buy_quote_volume",
        "ignore",
    ]
)
df.head()

                      open   high    low  close     volume
date
2020-01-09 08:00:00  45.32  45.77  45.07  45.22   9372.002
2020-01-09 09:00:00  45.22  45.28  45.00  45.03  16223.560
2020-01-09 10:00:00  45.02  45.42  44.84  45.08  12910.909
2020-01-09 11:00:00  45.08  45.19  44.84  45.00  12225.690
2020-01-09 12:00:00  44.99  45.19  44.91  45.16  10954.482

In [36]:
target = [0]
for i in range(len(df) - 1):
    q1, q2 = df.iloc[i]["close"], df.iloc[i + 1]["close"]
    if q2 > q1:
        target.append(1)
    else:
        target.append(0)
df["target"] = target

In [7]:
# Calculate Returns and append to the df DataFrame
df.ta.log_return(cumulative=True, append=True)
df.ta.percent_return(cumulative=True, append=True)
df.ta.sma(length=10, append=True)
df.tail()

,Open,High,Low,Close,Volume,CUMLOGRET_1,CUMPCTRET_1,SMA_10
Date,,,,,,,,
2023-07-02 04:00:00,105.97,113.00,105.02,111.02,4014287.740,0.903048,1.467111,106.886
2023-07-02 08:00:00,111.02,114.95,109.25,111.13,2863789.949,0.904038,1.469556,107.460
2023-07-02 12:00:00,111.14,112.97,106.88,111.92,3103947.329,0.911122,1.487111,107.786
2023-07-02 16:00:00,111.92,113.31,109.54,111.09,1773270.102,0.903678,1.468667,108.189
2023-07-02 20:00:00,111.09,114.22,110.77,113.63,2059355.010,0.926285,1.525111,108.852

In [13]:
candles = df.ta.cdl_pattern("all", scalar=1)

In [53]:
df.ta.adx(append=True)
df.ta.amat(append=True)
df.ta.aroon(append=True)
df.ta.chop(append=True)
df.ta.cksp(append=True)
df.ta.decay(append=True)
df.ta.decreasing(append=True)
df.ta.dpo(append=True)
df.ta.increasing(append=True)
df.ta.long_run(append=True)
df.ta.qstick(append=True)
df.ta.short_run(append=True)
df.ta.tsignals(append=True)
df.ta.ttm_trend(append=True)
df.ta.vhf(append=True)
df.ta.vortex(append=True)
df.ta.xsignals(append=True)

trend = df.drop(
    columns=["open", "high", "low", "close", "volume", "target", "DPO_20"]
)

In [56]:
trend[29:].to_csv("data/ltc1h/trend.csv")

In [57]:
candles[29:].to_csv("data/ltc1h/candles.csv")

In [58]:
df["target"][29:].to_csv("data/ltc1h/target.csv")